{% extends "layout.html" %}

{% block title %}
    Links to Shops
{% endblock %}

{% block main %}

    <h3 class="black">Links to various Shops:</h3>

    <ul>
        <li><a href="https://www.decathlon.in/"><p class="text-start black">Decathlon</p></a></li>
        <li><a href="https://www.gray-nicolls.co.uk/"><p class="text-start black">Gray-Nicolls</p></a></li>
        <li><a href="https://www.cosco.in/"><p class="text-start black">Cosco India</p></a></li>
        <li><a href="https://www.young-international.com/"><p class="text-start black">Young International</p></a></li>
        <li><p class="text-start black">Want Your Business Published Here ? Contact Us from the link up top.</p></li>
    </ul>

{% endblock %}
