{% extends "layout.html" %}

{% block title %}
    Links to Tutorials
{% endblock %}

{% block main %}

    <h3 class="black">Links to Information to various sports:</h3>

    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Table_tennis"><p class="text-start black">Table Tennis</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Cricket"><p class="text-start black">Cricket</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Kabaddi"><p class="text-start black">Kabaddi</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Tennis"><p class="text-start black">Tennis</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Squash_(sport)"><p class="text-start black">Squash</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Basketball"><p class="text-start black">Basketball</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Football"><p class="text-start black">Football</p></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Hockey"><p class="text-start black">Hockey</p></a></li>
        <li><p class="text-start black">Missing sport ? Contact Us from the link above.</p></li>
    </ul>

{% endblock %}
