{% extends "layout.html" %}

{% block title %}
    Prize Distribution System
{% endblock %}

{% block main %}

    <h3 class="black">Prize Distribution System:</h3>
    <br><br>

    <ul>
        <li><p class="text-start black">This web app uses centralised points distribution system,
            under which all the prizes are distributed according to set norms always.</p></li>

        <li><p class="text-start black">Under the pre-defined system, it is the admin's sole duty to make sure all the prizes are distributed fairly,
             and under admin's own discretion, this duty can be assigned to anyone of his/her choosing.</p></li>

        <li><p class="text-start black">It will also be admin's duty to ensure that the prizes are distributed before
            a tournament that has been completed is taken down from the web app.</p></li>

        <li><p class="text-start black">For any institute seeking to either create a tournament or take part in a tournament, it is necessary to create an
            account on this web app, if not done already, so that points and awards can be distributed to the said institute
            by the organisers as well as the admin.</p></li>

        <li><p class="text-start black">Along with the prize money decided by the organisers of the tournament, this website will also
            award points to each institute that has participated in the said tournaments, to maintain overall
            and sport-specefic institute rankings.</p></li>

        <li><p class="text-start black">Under the norms, all the awards wether monetary or in points on the website, will be distributed as follows:</p></li>

        <li><p class="text-start black">First place: 50% of prize pool and 500 points on the web-app to the institute.</p></li>
        <li><p class="text-start black">Second place: 30% of prize pool and 300 points on the web-app to the institute.</p></li>
        <li><p class="text-start black">Third place: 20% of prize pool and 200 points on the web-app to the institute.</p></li>

        <li><p class="text-start black">However, the distribution of the prize pool can be changed by the organisers of the tournament on their own discretion,
            but if wishing to make such changes, the organisers have to make sure the admin and all the participants of the said
            tournament are aware of this change before the start of the tournament.</p></li>

        <li><p class="text-start black">Any others awards, such as medals, certificates, etc. can be distributed by the organisers on their
            own discretion and are not the duty of the admin to forsee.</p></li>

        <li><p class="text-start black">Organisers also have to keep in mind that any tournament they create must be up on the web-app for atleast a
            period of 3 weeks before it starts so that all institutes have enough time for registration and preparation
            for the said tournament, and it is also the duty of admin to make sure this rule is strictly adhered to.</p></li>

        <li><p class="text-start black">If you still have some doubts or questions, please contact the admin from the contact us link up top.</p></li>
    </ul>

{% endblock %}
